<html>
    <title>Test Node</title>
    <body>
        <form action="/store/user", method="post">
            <input type="text" name="name" value="" placeholder="Name"/><br>
            <input type="text" name="email" value="" placeholder="email"/><br>
            <input type="text" name="mobile" value="" placeholder="Mobole"/><br>
            <input type="text" name="age" value="" placeholder="age"/><br>
            <input type="submit" name="submit" value="Submit"/>
        </form>
    </body>
</html>